footer{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -24%;
    z-index: 1;
    padding-bottom: 120px;
    padding-top: 58px;

}


footer > .sx{
    width: 50%;
    height: 100%;
    z-index: 1;
}

footer > .dx{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 40px;
    z-index: 999;
    padding-left: 30px;
}

footer > .dx .colA{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > .dx .colA a{
    color: white;
    text-decoration: none;

}


footer > .dx svg{
    fill: rgb(234, 255, 0);
    width: 20px;
    margin-right: 10px;
}


@media screen and (max-width:1300px) {
    footer{
        padding-bottom: 61px;
    }
}



@media screen and (max-width:1130px) {
    footer{
        padding-bottom: 0;
        bottom: -20%;
    }
}

@media screen and (max-width:1000px) {
    footer{
        bottom: -20%;
    }

    footer .sx{
        display: none;
    }
    footer .dx{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-left:0;

    }
}




@media screen and (max-width:700px) {
    footer{
        bottom: -24%;
    }

}


@media screen and (max-width:560px) {
    footer{
        bottom: -13%;
    }

}
