nav{
    width: 900px;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav > a{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 5px;
    color: #252525;
}
nav > a:hover{
    background-color: aqua;

}
