nav{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
nav > .sx{
    width: 15%;
}

nav > .ct{
    width: 70%;
    justify-content: center;
}

nav > .dx{
    width: 15%;
    justify-content: space-between;
}

nav > .dx svg{
    width: 40px;
    fill: white;
    padding: 8px;
    background: black;
    border-radius: 30px;
}

nav > .dx svg:hover{
    cursor: pointer;
}



nav > .ct a{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 5px 15px;
    color: #252525;
    transition: all 0.15s ease;
}
nav > .ct a:hover{
    background-color: #01b0ff;
    color: white;

}



.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }

.hamburger{
    display: none;
}

@media screen and (max-width: 1150px){



   nav{
    width: 950px;
   }

  }




  @media screen and (max-width: 990px){



    .hamburger{
        display: block;
        padding: 30px 0px 0px 30px;
    }
    nav{
        display: none;
    }


  }
