.mTop-Dima{
    margin-top: 95px;
}

.font{
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}

.text-darkCustom{
    color: #252525;
}

.a > p{
    text-shadow: 0px 0px 6px #000000;
    font-size: 1.2rem;
}






@media screen and (max-width: 630px){
    .font h1{
        font-size: 33px;
        text-align: center;
    }
    .font p{
        font-size: 20px;
        text-align: center;
    }
}


@media screen and (max-width: 450px){
    .font h1{
        font-size: 33px;
        text-align: center;
    }
    .font p{
        font-size: 20px;
        text-align: center;
    }
}


@media screen and (max-width: 420px){
    .font h1{
        font-size: 40px;
        text-align: center;
    }
    .font p{
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .font h1{
        font-size: 30px;
        text-align: center;
    }
    .font p{
        font-size: 20px;
        text-align: center;
    }
}
