.caroselloBox{
    width: 1200px;
     background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 40px; */
    display: flex;
    box-shadow: 8px 8px 20px 0px #00000014;

}


.caroselloBox .dx{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    padding: 80px;
    position: relative;
}

.caroselloBox .dx > button{
    position: absolute;
    top: 35px;
    right: -30px;
}

#Titolo{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 60px;
    color: #252525;
    font-family: 'Roboto', sans-serif;
}

#Descrizione{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: #0000006b;
    font-family: 'Roboto', sans-serif;
}

.gap-Custom{
    gap: 45px;
}

.borderCustom{
    border-bottom: 1px solid #0000002e;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.borderCustom h5{
    font-size: 0.9rem;
    font-weight: 700;
    color: #0000009e;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    transition: color 0.4s ease;
}



.borderCustom > h5{
    cursor: pointer;
}

.hoverBottom:hover{
    border-bottom: 4px solid rgb(0, 170, 255);
    color: black;
    margin-bottom: -5px;
}

#Price{
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin-right: 20px;
}

.as{
    margin-top: 30px;
}

.as > button{
    padding: 14px 24px;
    border: none;
    background-color: #01b0ff;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.mb-dima .btnC{
    position: absolute;
    top: 0px;
    right: -130px;
    width: 50px;
    background: #ffe100;
    border: none;
    color: white;
    fill: white;
    padding: 5px 10px;
}

.mb-dima .btnC2{
    position: absolute;
    top: 0px;
    right: -80px;
    width: 50px;
    background: #ffe100;
    border: none;
    color: white;
    fill: white;
    padding: 5px 10px;
}



.mb-dima .Index{

    font-size: 1.4rem;
    background-color: white;
    background-color: black;
    color: white;
    position: absolute;
    top: 44px;
    right: -80px;
    padding: 5px 25px;
}


.caroselloBox .sx{
    position: relative;
    /* background-color: white; */
    width: 50%;
    justify-content: space-evenly;

    background-image: url(../img/SfondoCarosello.png);
    background-size: cover;
}

.boxContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.boxContent > .box{
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.205);
    padding: 6px;
    transition: border 0.2s ease;
}

.box:hover{
    border: 4px solid rgb(0, 136, 255);
}

.boxImage{
    height: 100%;
    /* background-color: red; */
}


img{
    width: 100%;
    height: 100%;
}


.mb-dima{
    margin-bottom: 70px;
    position: relative;
}

#info{
    color: rgb(1 176 255);
    font-size: 1.2rem;
}
.posRel{
    display: none;
}


#newButton{
    display: none;
}

@media screen and ( max-width: 1300px){
    .caroselloBox{
        width: 1100px;
    }
}


@media screen and ( max-width: 1230px){
    .caroselloBox{
        width: 950px;
    }

    .caroselloBox .sx{
        flex-direction: column;
    }
    .caroselloBox .sx .boxContent{
        flex-direction: row;
        justify-content: start;
    }


    .caroselloBox .dx{
        padding: 15px;
    }
    .mb-dima .btnC{
        right: -104px;
    }
    .mb-dima .btnC2{
        right: -55px;
    }
    .mb-dima .Index{
        right: -55px;
    }
}

@media screen and ( max-width: 1085px){

    .caroselloBox .dx{
        display: flex;
        flex-direction: column;
    }

    .caroselloBox{
        width: 800px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .mb-dima .btnC{
        display: none;
    }
    .mb-dima .btnC2{
        display: none;
    }
    .mb-dima .Index{
        display: none;
    }

    .caroselloBox .dx{
        width: 100%;
    }

    .caroselloBox .sx {
        position: relative;
    }

    .caroselloBox .sx .boxContent {
        justify-content: center;
        gap: 20px;
    }


    /* ALLINEAMENTO TEXT */

    #Titolo{
        text-align: center;
        margin-bottom: 45px;
    }
    .borderCustom{
        justify-content: space-evenly;
    }

    #Descrizione{
        text-align: center;
    }
    .as {
        justify-content: center;
        margin-top: 50px;
        flex-direction: column;
    }

    .as button{
        width: 70%;
    }

    #Price{
        background: #132d49;
        color: white;
        padding: 2px 20px;
        margin-right: 0;
    }

    .mb-dima{
        margin-bottom: 40px;
    }

    #info{
        text-align: center;
        text-decoration: none;
    }


        #newButton{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        #newButton .btnC{
        width: 50px;
        background: #ffe100;
        border: none;
        color: white;
        fill: white;
        padding: 5px 10px;


    }

        #newButton .btnC2{
        width: 50px;
        background: #ffe100;
        border: none;
        color: white;
        fill: white;
        padding: 5px 10px;


    }

        #newButton .Index2{
        font-size: 1.4rem;
        background-color: white;
        background-color: black;
        color: white;
        padding: 5px 25px;
        width: 100%;
        text-align: center;



    }


}


@media screen and ( max-width: 860px){
    .caroselloBox{
        width: 650px;
    }
}


@media screen and ( max-width: 700px){
    .caroselloBox{
        width: 95%;
    }
}


@media screen and ( max-width: 585px){
    .caroselloBox{
        width: 100%;
    }

    .caroselloBox .sx{
        width: initial;
    }

    .borderCustom{
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        align-items: center;
    }




    .boxImage #img1{
        width: 315px;
    }

    #newButton .Index2{
        width: 50%;
    }
}
