.ContainerWhiteText{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    /* background-color: aquamarine; */
}
.ContainerWhiteText > h1{
    margin-bottom: 0;
    font-size: 8rem;
    letter-spacing: 20px;
    font-weight: 700;
    color: #0000000f;
}


@media screen and (max-width: 1030px){
    .ContainerWhiteText > h1{
        font-size: 6rem;
    }
}

@media screen and (max-width: 494px){
    .ContainerWhiteText > h1{
        letter-spacing: 10px;
        font-size: 5.4rem;
    }
}

@media screen and (max-width: 380px){
    .ContainerWhiteText > h1{
        letter-spacing: 10px;
        font-size: 4.5rem;
    }
}
